*{
    font-family: "Tahoma", "Times New Roman", serif;
    text-align: center;
    box-sizing: border-box;
}
a{
    padding: 8px 16px;
    font-size: 32px;
}
.main-div{
    display: inline-flex;
    padding: 24px;
}

.content{
    margin: 24px;
    padding: 8px;
    
}