*{
    font-family: "Tahoma", serif;
    text-align: center;
}

h1,h2{
    font-weight: 500;
}

li{
    list-style: none;
}

ol li{
    list-style: decimal;
    list-style-position: inside;
}

.title{
    color: blue;
}