*{
    font-family: "Tahoma", "Times New Roman", serif;
    text-align: center;
    box-sizing: border-box;
}
a{
    padding: 8px 16px;
    font-size: 32px;
}
.main-div{
    display: inline-flex;
    margin: 24px;
}

.content{
    margin: 16px;
    padding: 8px;
}

ol li{
    list-style: decimal;
    list-style-position: inside;
    padding: 8px;
}

ul li{
    list-style:none;
}